.head {
    display: flex;
    border-bottom: 1px solid #aaaaaa;
}

.headRow {
    display: flex;
    padding-bottom: 4px;
}

.bodyRow {
    display: flex;
}

.date {
    padding: 4px 8px;
    min-width: 100px;
}

.weight {
    padding: 4px 8px;
}